$color-title: #ffffff;
$fuente-title: 'Rubik', sans-serif;
$color-button:  #080707;




body{
  
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: $fuente-title;
  
}

#map{

  width: 100%;
  height: 62%;
}




.header{

display: inline-block;
position: relative;


.header_imagen{

  width: 1280px;
}



 .header_title{
	position: absolute;
	top: 70px;
	left: 50px;
	color: $color-title;
  margin-left: 34%;
}



#form{

 position: absolute;
	top: 156px;
	left: 50px;
   margin-left: 30%;


#ip{

	font-size: 18px;
  width: 320px;
}

#button{
    
   font-size: 18px;
   color: $color-button;
   margin-left: -8px;
}
	
}


}


#ui{

  display: flex;
  justify-content: space-evenly;
  padding: 15px;

  .ui_items{
    text-align: center;
  }
}






@media screen and (max-width: 768px){

body{
  
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 96vh;
  font-family: $fuente-title;
  
}


.header{

display: inline-block;
position: relative;


.header_imagen{

  width: 768px;
  height: 220px;
}



  .header_title{
  position: absolute;
  top: 70px;
  left: 50px;
  color: $color-title;
  margin-left: 210px;
}



#form{

 position: absolute;
  top: 156px;
  left: 50px;
   margin-left: 24vw;


#ip{

  font-size: 15px;
  width: 280px;
}

#button{
    
   font-size: 18px;
   color: $color-button;
   margin-left: -8px;
}
  
}


}


  #ui{

    flex-direction: column;
    align-items: center;

    .ui_items{
      text-align: center;
    }
  }

}


@media screen and(max-width: 340px){

body{
  
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 96vh;
  font-family: $fuente-title;
  
}


.header{

display: inline-block;
position: relative;


.header_imagen{

  width: 340px;
  height: 220px;
}



  .header_title{
  position: absolute;
  top: 70px;
  left: 50px;
  color: $color-title;
  margin-left: -12px;
}



#form{

 position: absolute;
  top: 156px;
  left: 50px;
   margin-left: -12vw;

}
}
}

