$color-title: #ffffff;
$fuente-title: 'Rubik', sans-serif;
$color-button:  #080707;




body{
  
  margin: 0;
  padding: 0;
  max-width: 1440px;
  width: 100%;
 
  
}



header{

display: inline-block;
position: relative;

img{

  width: 1280px;
}



  h1{
	position: absolute;
	top: 70px;
	left: 50px;
	color: $color-title;
	font-family: $fuente-title;
  margin-left: 34%;
}



form{

 position: absolute;
	top: 156px;
	left: 50px;
   margin-left: 30%;


#ip{

	font-size: 18px;
  width: 320px;
}

#button{
    
   font-size: 18px;
   color: $color-button;
   margin-left: -8px;
}
	
}


}



#map{

  width: 100%;
  height: 100%;
}

